---
layout: default
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
permalink: "{% unless pagination.pageNumber > 0 %}index.html{% endunless %}{% if pagination.pageNumber > 0 %}blog/page{{ pagination.pageNumber | plus: 1 }}{% endif %}"
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.data.title }}</a></h3>
        <p class="description">{% if post.data.description %}{{ post.data.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
