<!-- Add jQuery and other scripts -->
<!--
    Yes I would like to delete this, why are we using jQuery in the
    year of our lord 2024, but it's doing positioning and font
    shenanigans and I would like to get the blog working before fussing with aesthetics, and by aesthetics I mean "not using jQuery."
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ '/assets/js/dropcap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/responsive-nav.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>
